#cadastroForm {
    background-color: #d4c9d7;
    width: 600px;
    height: 500px;
    border-radius: 50px;
    padding: 30px;
}

#nome {font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 110px;
    background: #8f7ea8;
    height: 30px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

#nome::placeholder {
    color: black;
}

#Data {font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 110px;
    background: #8f7ea8;
    height: 30px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}  

#cpf {font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 110px;
    background: #8f7ea8;
    height: 30px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}   

#cpf::placeholder {
    color: black;
}   

#rg {font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 110px;
    background: #8f7ea8;
    height: 30px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

#rg::placeholder {
    color: black;
}

#celular {font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 110px;
    background: #8f7ea8;
    height: 30px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

#celular::placeholder {
    color: black;
}

#usuario {font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 110px;
    background: #8f7ea8;
    height: 30px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}   

#usuario::placeholder {
    color: black;
}

#email {font-size: 15px;
    line-height: 1.5;
    color: #666;        
    display: block;
    width: 110px;    
    background: #8f7ea8;
    height: 30px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

#email::placeholder {
    color: black;
}

#senha {font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 110px;
    background: #8f7ea8;
    height: 30px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

#senha::placeholder {
    color: black;
}

body {
    background-color: #f1efe8;
}

.botao {
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 110px;
    height: 30px;
    border-radius: 25px;
    background: #85169d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
