* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #d4c9d7;
    font-family: Arial, Helvetica, sans-serif;
}

header {
 
    background: #8f7ea8;
    color: rgb(249, 243, 243);
    font-size: 30px;
    padding: 20px;

    display: flex;
    justify-content: center;
}
img {
    width: 40px;
}   

main {
    background: #d4c9d7;
    .page-title {
        font-size: 30px;
        padding: 20px;
        color: #8f7ea8;
    }

table {
    width: 100%;
    border-collapse: collapse;
    .Thead {
       tr {
         border-bottom: 3px solid #ccc;
         th {
             text-align: left;
      