body{
    background-color: #d4c9d7;}
    
main {
    background-color: #D4C9D7;
    padding: 0 30px;
    
     .page-title 
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        padding: 50px 0;
        text-align: center;
        color:#85169d
    
     }
     .content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 20px;
        color: #85169d
        
        }
 
     }
    }

table {
    width: 100%;
        th, td {
        padding: 10px;
    }
    td {
        border-bottom: 1px solid #ccc;  
        text-align: left;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-bottom: 1px solid #ccc;
    }

    .remove{
        background-color: #d596e3;
        border: 0;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
       font-size: 20px; 
    }

    
